<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @url %></h1>
    <p>When you are finished with your analysis, you find the link in this <a href="https://docs.google.com/spreadsheets/d/1klCFgSwetuuQlkM4llE2hjXQcVZX-wUNkDaWWoVs7ds/edit?usp=sharing">google spread sheet</a>.</p>
  </body>
</html>